body {
    background: url(../img/burger_theme.png) center fixed;
    /* Full height */
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
    background-size: cover;
}

.header{
    text-align:center;
    padding-top:30px;
    font-size:80px;
    font-weight:bolder;
    color:black;
    font-family:'Poppins', sans-serif;;
    text-shadow:0px 0px 5px white;
}

.small-header {
    text-align:center;
    padding-bottom:30px;
    font-size:30px;
    font-weight:bold;
    color:black;
    font-family:'Poppins', sans-serif;;
    text-shadow:0px 0px 5px white;
}

#add-burger{
    background:black;
    opacity:0.75;
    color:white;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:10px;
}
#submit-burger{
    background:black;
    color:white;
    box-shadow:0px 0px 20px white;
    margin-top:10px;
    font-size:25px;
    font-family:'Poppins', sans-serif;;
}
#disliked-burgers{
font-size:48px;
color:red;
}
#liked-burgers{
font-size:48px;
color:green;
}
.burger-each{
    padding:15px;
    background:black;
    color:white;
    font-size:25px;
    margin-left:5px;
    margin-right:5px;
}

.delburger{
    float:right;
    background:rgb(166, 221, 245);
}

.disliked{
    float:right;
    background: red;
}

.liked {
    float:left;
    background:green;
}

.card-burgers{
    background:rgb(206, 202, 202);
    opacity:0.75;
    padding-top:20px;
    padding-bottom:20px;
    box-shadow:0px 0px 10px black;
    font-family:'Poppins', sans-serif;;
}