<br>
<div class="burger-each">
    <button class="btn liked" data-id="{{id}}"><i class="fa fa-thumbs-up"></i></button>
    {{name}}
    <button class="btn disliked" data-id="{{id}}"><i class="fa fa-thumbs-down"></i></button>
</div>